<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th>Library</th>
      <th>Issued to Student</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Image</th>
      <th>Summary</th>
      <th>Specialcollection</th>
      <th>Returndate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.ISBN %></td>
        <td><%= book.title %></td>
        <td><%= book.Author %></td>
        <td><%= book.library.name %></td>
        <td><% if book.student.present? %> book.student.id<%else%><%end%></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.image %></td>
        <td><%= book.summary %></td>
        <td><%= book.specialCollection %></td>
        <td><%= book.returnDate %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
